package email

const EMAIL_ADDRESS = "CHANGE_ME"
const EMAIL_APP_PASSWORD = "CHANGE_ME"
const EMAIL_RECIPIENTS_CSL = "CHANGE,ME"
const EMAIL_AUTH_HOST = "CHANGE_ME"
const EMAIL_SEND_MAIL_ADDRESS = "CHANGE_ME"
